html {
    font-size: 62.5%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, rdption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
/* text-align: left; */
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 1.6rem;
}
input[type="button"],input[type="text"],input[type="submit"] {
 -webkit-appearance: none;
 border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
border-bottom: 1px solid black;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
/* height: auto;
width: auto; */
}

/*ココから！！*/

body {
    font-family: serif;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    padding: 8px 0;
    font-weight: bold;
}

.contact:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-icon {
    font-size: 1rem;
    margin: 8px 0 16px 0;
    background-color: rgb(100, 0, 0);
    color: white;
    font-family: serif;
}

.btn-parts {
    display: flex;
    justify-content: center;
}

/*header*/
.title {
    justify-content: space-around;
    background-color: rgb(27, 27, 27);
    height: auto;
    padding: 8px 0;
}

.main-img img {
    width: 100%;
}

.info-detail {
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*高田屋について*/
.main-title {
    background-color: rgb(232, 216, 185);
    height: auto;
    padding: 16px;
}

.ttl h2 {
    text-align: center;
}

table.content {
    width: 65%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 0px;
    font-size: x-small;
    text-align: left;
}
    
table.content th,
table.content td {
    padding: 4px;
}

.table-row {
    border-bottom: 0.1px solid black;
}

.img-pc {
    display: none;
}

/*メニュー*/
.menu {
    background-image: url("img2/menu.png");
    height: auto;
    color: white;
}

.menu-title h2 {
    color: white;
    text-align: center;
}

.menu-text {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 24px;
}

h3 {
    font-size: 1.5rem;
    padding: 8px 0;
    padding: 8px 0 4px 0;
    border-bottom: dotted 1px white;
}

.text {
    font-size: 1rem;
    padding-top: 8px;
}

.price {
    text-align: center;
}

.menu-price {
    text-align: center;
}

.menu img {
    max-width: 70%;
    height: auto;
}

/*アクセス*/
.access {
    background-color: rgb(232, 216, 185);
    height: auto;
}

.access-title h2 {
    text-align: center;
}

.address p {
    font-size: 1rem;
    padding: 4px;
}

.guide {
    text-align: center;
}

.access-img img {
    height: 150px;
    width: 300px;
}

/*ギャラリー*/
.gallery {
    background-color: rgb(150, 123, 95);
    color: white;
    display: flex;
}

.gallery-text {
    font-size: 1.3rem;
    text-align: center;
}

.gallery img {
    height: auto;
    width: 50%;
}

.content p {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 24px;
}

.content img {
    height: auto;
    width: 95%;
    padding-left: 16px;
}


/*お問い合わせ*/
footer {
    background-color: rgb(160, 27, 27);
    color: white;
    text-align: center;
}

footer p {
    font-size: 1rem;
    padding-bottom: 8px;
}

.footer-comment {
    color: white;
    background-color: rgb(27, 27, 27);
    padding: 16px 0;
}

@media (min-width: 600px ) {
    a {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2rem;
    }
    
    table.content {
        font-size: 1.5rem;
    }
    
    .img-tab {
        display: none;
    }

    h3 {
        font-size: 2rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .btn-icon {
        font-size: 1.5rem;
    }

    .gallery-text {
        font-size: 2rem;
        padding-top: 60px;
    }
}

@media (min-width: 1025px ) {
    a {
        font-size: 2rem;
    }

    h2 {
        font-size: 2.5rem;
        padding: 16px 0;
    }

    .main-title {
        padding: 40px;
    }
    
    table.content {
        font-size: 2rem;
        width: 40%;
    }
    
    table.content th {
        padding: 4px 24px 0 0;
    }
    
    .img-pc {
        display: inline-block;
        width: 50%;
        height: auto;
        padding-right: 24px;
    }
    
    .map {
        display: flex;
        text-align: center;
    }

    h3 {
        font-size: 2.5rem;
        width: 405px;
        border-bottom: none;
    }

    .text {
        width: 405px;
    }

    .menu img {
        margin: 16px;
        width: 500px;
    }

    .btn-icon {
        font-size: 1.7rem;
    }

    .address {
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 24px;
    }

    .address p {
        font-size: 2rem;
    }

    .location {
        padding-left: 16px;
    }

    .access-img img {
        height: auto;
        width: 450px;
    }

    .gallery-text {
        font-size: 2.5rem;
        padding-top: 100px;
    }

    .content p {
        font-size: 1.5rem;
    }

    .content img {
        padding-left: 32px;
    }

    footer p {
        font-size: 1.5rem;
    }
}